<div class="container">

  <div class="row">
    <h3>My deleted todos</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Created Date</th>
          <th scope="col">Deleted Date</th>
          <th scope="col">Completed?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td [class.stroke]="todo.isCompleted">{{todo.description}}</td>
          <td>{{todo.createdDate | date: 'dd.MM.yyyy hh:mm a'}}</td>
          <td>{{todo.deletedDate | date: 'dd.MM.yyyy hh:mm a'}}</td>
          <td>{{todo.isCompleted}}</td>
          <td><a [routerLink]="[]" (click)="undoDeleteTodo(todo.id,todo)">Undo</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
